.starting {
  margin: 6rem auto;
  /* text-align: center; */
}

.img_pic {
  width: 15%;
  margin-top: 4%;
  margin-left: 70%;
  position: fixed;
}

.img_title {
  height: 30%;
  width: 50%;
  margin-top: 8%;
  margin-left: 13%;
  position: fixed;
}
