/* user view */
.user-card .card-block {
  text-align: center;
}

.user-card .card-block .user-image {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  padding: 5px;
  width: 110px;
  height: 110px;
}

.user-card .card-block .user-image img {
  z-index: 20;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100px;
  height: 100px;
}

.user-card .card-block .user-image:before {
  bottom: 0;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.user-card .card-block .user-image:after,
.user-card .card-block .user-image:before {
  content: "";
  width: 100%;
  height: 48%;
  border: 2px solid #4099ff;
  position: absolute;
  left: 0;
  z-index: 10;
}

.user-card .card-block .user-image:after {
  top: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.user-card .card-block .user-image:after,
.user-card .card-block .user-image:before {
  content: "";
  width: 100%;
  height: 48%;
  border: 2px solid #4099ff;
  position: absolute;
  left: 0;
  z-index: 10;
}

.user-card-bg {
  background: -webkit-linear-gradient(left, #f9f9fc, #0fdefa);
  box-shadow: rgb(245, 243, 243) 0px 2px 8px 0px;
}

/* end */

.card-header {
  padding: 5%;
  margin: 2px;
  background: -webkit-linear-gradient(left, #e3ebec, #10d4ee);
  /* border: solid ; */
  box-shadow: black 0px 0.3px 0.6px 0px;
}

.img-radius {
  border-radius: 50%;
}

.rounded-circle {
  border-radius: 12px;
}
