.header {
  width: 100%;
  height: 4.2rem;
  background-color: #383c44;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 5%;
}

.img {
  height: 50px;
  width: 30px;
  margin-right: 5%;
}

.logo {
  font-size: 2rem;
  color: white;
  margin: 0;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 0 1rem;
}

.inactive {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.header ul a:hover {
  color: #00b7ff;
  /* text-decoration: underline; */
}

.active {
  color: #00b7ff;
  text-decoration: underline;
  font-weight: bold;
}

.header nav {
  position: absolute;
  top: 4%;
  right: 5%;
}

.header button {
  font: inherit;
  background-color: inherit;
  text-decoration: none;
  color: white;
  font-weight: bold;
  /* border: 1px solid white; */
  /* color: white; */
  /* padding: 0.5rem 1.5rem; */
  /* border-radius: 6px; */
  cursor: pointer;
  border-image: initial;
  border: solid;
  border-color: #383c44;
}

.header button:hover {
  color: #00b7ff;
}

.header button:active {
  color: #00ffea;
}
