.starter {
  box-shadow: rgba(0, 0, 0, 0.09) 0px -90px 30px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 20px 4px 60px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px 90px 5px;

  /* width: 90%; */
  /* height: 480px; */
  /* margin-left: 5%; */
  /* margin-right: 5%; */
  background: -webkit-linear-gradient(left, #2d3439, #3c5a6e);
}

.starter-1 {
  margin-top: 120px;
}

/* user view */
.user-card .card-block {
  text-align: center;
}

.user-card .card-block .user-image {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  padding: 5px;
  width: 110px;
  height: 110px;
}

.user-card .card-block .user-image img {
  z-index: 20;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100px;
  height: 100px;
}

.user-card .card-block .user-image:before {
  bottom: 0;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.user-card .card-block .user-image:after,
.user-card .card-block .user-image:before {
  content: "";
  width: 100%;
  height: 48%;
  border: 2px solid #4099ff;
  position: absolute;
  left: 0;
  z-index: 10;
}

.user-card .card-block .user-image:after {
  top: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.user-card .card-block .user-image:after,
.user-card .card-block .user-image:before {
  content: "";
  width: 100%;
  height: 48%;
  border: 2px solid #4099ff;
  position: absolute;
  left: 0;
  z-index: 10;
}

.user-card-bg {
  background: -webkit-linear-gradient(left, #f9f9fc, #0fdefa);
  box-shadow: rgb(245, 243, 243) 0px 2px 8px 0px;
}

.img-radius {
  border-radius: 50%;
}

.card-header {
  padding: 5%;
  margin: 2px;
  background: -webkit-linear-gradient(left, #e3ebec, #10d4ee);
  /* border: solid ; */
  box-shadow: black 0px 0.3px 0.6px 0px;
}

.rounded-circle {
  border-radius: 12px;
}

/* board */
.square:hover {
  border-color: gold;
  border-width: 3px;
}

.square {
  cursor: pointer;
  border: solid;
  border-radius: 5px;
  border-width: 1px;
  display: inline-block;
  text-align: center;
  font-weight: lighter;
}

.odd {
  background-color: #0fdefa;
  border-color: black;
}

.even {
  background-color: black;
  border-color: #0fdefa;
}

.square {
  height: 50px;
  width: 50px;
  font-size: 260%;
  margin: 1px 3px;
}

.square:hover {
  height: 49px;
  width: 49px;
}
